<!-- <h1>Welcome to Disc Golf something</h1>
<button type="button" id="getAll">Browse</button>
<form name="courseForm">
  <input type="number" name="courseId" />
  <button name="lookup">Get Course by Id</button>
</form>

<div id="output">
  <div id="listCourses"></div>
  <div id="courseData"></div>
  <div id="addressData"></div>
</div>

<h1>Make a new course</h1>

<form name="makeCourse">
  name:<input name="name" /><br />
  description:<input name="description" /><br />
  length:<input type="number" name="length" /><br />
  <input type="submit" name="splork" value="submit" />
</form> -->

<!-- new stuff  -->

<form *ngIf="!selected">
  New Course: <input type="text" name="task" [(ngModel)]="newCourse.name" />
  <input type="submit" name="submit" (click)="addNewCourse()" />
</form>
<div *ngIf="editCourse">
  <form>
    Name:
    <input
      type="text"
      value="edit.name"
      name="task"
      [(ngModel)]="editCourse.name"
    /><br />
    Length:
    <input
      type="text"
      value="edit.Length"
      name="task"
      [(ngModel)]="editCourse.length"
    /><br />
    Description:
    <input
      type="textarea"
      value="edit.description"
      name="description"
      [(ngModel)]="editCourse.description"
    /><br />
    <button
      class="btn"
      (click)="selected = editCourse; updateCourse(selected); editCourse = null"
    >
      submit
    </button>
    <button class="btn" (click)="editCourse = null">Cancel</button>
  </form>
</div>
<div *ngIf="!editCourse">
  <div *ngIf="selected">
    <p>{{ selected.id }}</p>

    <button class="btn" (click)="setEditCourse()">Edit</button>
    <button class="btn" (click)="selected = null">Back</button>
  </div>
</div>
<table *ngIf="!selected">
  <tr>
    <td>Course</td>
    <td>Length</td>
    <td>Description</td>
  </tr>
  <tr *ngFor="let course of courses">
    <td (click)="selected = course">{{ course.name }}</td>
    <td>{{ course.length }}</td>
    <td>{{ course.Address.street }}</td>
  </tr>
</table>

<br />
